{{> menu}}
<section class="section">
  <div class="box box-link-hover-shadow">
    <div class="title">
      {{placemark.title}}
    </div>
    {{> list-pointOfInterests}}
  </div>
  {{> mapbox }}
  {{> add-pointOfInterest}}
</section>
