{{> menu}}
<section class="sectioncolumns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{placemark.title}}
    </div>
    {{> list-pointOfInterests}}
  </div>
  {{> mapbox }}
  {{> add-pointOfInterest}}
  <div class="column">
    {{> placemark-image}}
  </div>
</section>
