<form class="box" action="/placemark/{{placemark._id}}/addpointOfInterest" method="POST">
  <label><b>Enter Point of Interest Details:</b></label><br></br>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label>Category</label>
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
      <div class="field">
        <label>Place</label>
        <input class="input" type="text" placeholder="Enter Place" name="place">
      </div>
      <div class="field">
        <label>Latitude</label>
        <input class="input" type="text" placeholder="Enter Latitude" name="lat">
      </div>
      <div class="field">
        <label>Longitude</label>
        <input class="input" type="text" placeholder="Enter Longitude" name="lng">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Point of Interest</button>
</form>

{{>placemark-image}}
